:root {
  --background-color: #f2f2f2;
  --font-color: #1e1e1c;
}

html {
  background-image: radial-gradient(#d5d5d595 1px, var(--background-color) 0);
  background-size: 20px 20px;
}

body {
  padding: 30px;
  margin: 0;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: var(--font-color);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-outer {
  box-shadow: 0 3px 5px rgb(0 0 0 / 5%);
  padding: 20px;
}

.content-inner,
.content-outer {
  width: 100%;
  max-width: 700px;
  display: flex;
  background-color: white;
  border: 1px solid #dddddd;
  align-items: stretch;
}

.sidebar {
  background: #262833;
  color: #f2f2f2;
}

.sidebar .material-icons-outlined {
  font-family: 'Material Icons';
  width: 100%;
  font-size: 4em;
  padding: 20px;
  display: block;
  text-align: center;
}

.sidebar ul.menu {
  list-style: none;
  padding-left: 0;
  min-width: 150px;
}

.sidebar ul.menu li {
  padding: 5px 8px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 4px;
}

.sidebar ul.menu li a {
  color: white !important;
}

.content {
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
}

@media screen and (max-height: 620px) {
  .content {
    max-height: calc(100vh - 120px);
    min-height: 100%;
  }
}

.content::-webkit-scrollbar-thumb {
  background: #262833;
  border: 2px solid white;
  border-radius: 4px;
}

.content::-webkit-scrollbar {
  width: 8px;
  background-color: #f2f2f2;
  box-shadow: inset 0 0 0 3px white;
}

.content h1,
.content h2 {
  font-family: "Special Elite", sans-serif;
}

.content h2 {
  font-size: 0.8em;
  margin-top: -10px;
}

.content h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-top: 20px;
}

.content article {
  border-left: 1px solid #f2f2f2;
  padding-left: 20px;
}

.content article p {
  text-align: justify;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
